@import url("./components/fonts/circular/stylesheet.css");

html {
    font-family: Circular Std;
    font-style: normal;
    color: #949CA5;
}

.landing-min-height {
    min-height: 560px !important;

}

.landing-5xl-line-height {
    line-height: 130%;
}
.landing-color-gray{
    color:  #949CA5;
}