.header__index {
  width: 100%;
  max-width: 100%;
  position: relative;
  grid-column: 1/13;
  height: 400px; /*781px;*/
  /* max-height: 98vh; */
}
.header__banner-index-description {
  width: 100%;
  margin-top: 60px;
  padding: 0 15px;
  grid-row: 1/1;
  z-index: 2;
  position: absolute;
  top: 55%;
  transform: translateY(-55%);
  grid-column: 1/15;
  justify-items: center;
  -webkit-transform: translateY(-55%);
  -moz-transform: translateY(-55%);
  -ms-transform: translateY(-55%);
  -o-transform: translateY(-55%);
}
.header__index-title {
  grid-column: 1/13;
  grid-row: 1/1;
  font-family: Inter;
  font-style: normal;
  font-weight: bold;
  font-size: 64px;
  line-height: 77px;
  color: var(--color-black);
}
.index-top-button {
  background: var(--color-white);
  padding: 5px 15px 4px;
  border: 1px solid #b5b5b5;
  border-radius: 20px;
  margin: 0px 8px;
  font-family: Inter;
  font-style: normal;
  font-weight: bold;
  font-size: 12px;
  line-height: 175%;
  display: flex;
  justify-content: center;
  align-items: center;
  text-transform: uppercase;
  color: #142346;
}
.top-buttons {
  grid-column: 1/13;
  justify-items: center;
  margin: 27px 0;
  grid-row: 2/2;
  display: flex;
  justify-content: center;
  align-items: center;
}
.block-index-image {
  grid-column: 1/13;
  width: 100%;
}
.index-image {
  border-radius: 20px;
  width: 100%;
}
.block-3-images {
    width: 100%;
    grid-column: 1/15;
    margin: 15px 0 75px 0;
    display: flex;
    justify-content: space-around;
    flex-wrap: nowrap;
}
.block-3-images-inner-block {
  width: 336px;
  height: 360px;
  background: #f5f5f5;
  border-radius: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
}
