.header__post {
    width: 100vw;
    position: relative;
    grid-column: 1/13;
    height: 781px;
    /* max-height: 98vh; */
  }
  .header__post-banner {
    width: 100%;
    grid-column: 1/13;
    grid-row: 1;
    object-fit: contain;
    object-position: center;
  }
  .header__banner-image {
    position: absolute;
    bottom: 30px;
    right: 0;
    grid-column: 8 / span 5;
    mix-blend-mode: darken;
    transform: rotate(-9.36deg);
    -webkit-transform: rotate(-9.36deg);
    -moz-transform: rotate(-9.36deg);
    -ms-transform: rotate(-9.36deg);
    -o-transform: rotate(-9.36deg);
}
  .header__banner-description {
    grid-row: 1/1;
    z-index: 2;
    position: absolute;
    top: 55%;
    transform: translateY(-55%);
    grid-column: 3/10;
    justify-items: flex-start;
    -webkit-transform: translateY(-55%);
    -moz-transform: translateY(-55%);
    -ms-transform: translateY(-55%);
    -o-transform: translateY(-55%);
  }
  .header__post-title {
    grid-column: 1/12;
    grid-row: 2/2;
    font-family: Inter;
    font-style: normal;
    font-weight: bold;
    font-size: 64px;
    line-height: 77px;
    color: #000000;
    margin-bottom: 200px;
  }
  .header__post-author {
    grid-row: 1/1;
    font-family: Inter;
    font-style: normal;
    font-weight: bold;
    font-size: 16px;
    line-height: 14px;
    text-transform: uppercase;
    color: #000000;
    opacity: 0.5;
    margin-bottom: 15px;
  }
  .header__post-data {
    grid-column: 1/4;
    grid-row: 3/3;
    font-family: ALS Hauss;
    font-style: normal;
    font-weight: normal;
    font-size: 20px;
    line-height: 27px;
    text-align: center;
    color: #000000;
    opacity: 0.87;
  }
  .header__post-views {
    font-family: ALS Hauss;
    font-style: normal;
    font-weight: normal;
    font-size: 20px;
    line-height: 27px;
    text-align: center;
    color: #000000;
    opacity: 0.87;
    position: relative;
  }
  .header__post-views::before {
    content: url(../../images/views.png);
    width: 20.99px;
    height: 11.37px;
  }